h1 {
    color: blue;
    text-align: center;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: red;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: black;
    font-family:
}
